*{
    3ebfff
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    overflow-x: hidden
}
.interface{
  background-color: #3ebfff;
}


.header{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}
.header ul{
    list-style: none;
    margin-left: 650px;
}
.header ul li a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
    font-size: 16px;
}
.header button{
    border-radius: 10px;
    color: black;
    font-size: 20px;
    padding: 10px;
}



.background-section{
    position: relative; 
    width: 100%;
    height: 100vh; 
    background: url('mobile/image-header.jpg') no-repeat center center/cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .text-content1 h1{
    margin-bottom: 128px;
  }
  
  .main h1{
      color: white;
      text-align: center;
      padding-top: 50px;
  }
  .main-banner img{
      width: 100%;
      height: auto;
  }
  .main-1{
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      
  }
  .main-1 .content h2{
      margin: 0 70px 30px 70px;
  }
  .main-1 .content p{
      margin: 0 70px 30px 70px;
  }
  
  
  .main-2{
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }
  .main-2 .content h2{
      margin: 0 70px 30px 70px;
  }
  .main-2 .content p{
      margin: 0 70px 30px 70px;
  }
  .learn-more{
    margin: 0 70px 30px 70px;
    color: black;
  }
  .main-2 img{
      width: 100%;
      height: auto;
  }
  
  .main-3{
      display: grid;
      grid-template-columns: 50% 50%;
  }
  
  .background-section-1 {
      position: relative; 
      width: 100%;
      height: 100vh; 
      background: url('desktop/image-photography.jpg') no-repeat center center/cover; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .background-section-2 {
      position: relative; 
      width: 100%;
      height: 100vh; 
      background: url('desktop/image-graphic-design.jpg') no-repeat center center/cover; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .text-content {
      margin-top: 350px;
      position: absolute; 
      color: black; 
      padding: 20px;
      border-radius: 1px;
    }
    
    .text-content h1 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    
    .text-content p {
      font-size: 1.2rem;
    }
  
  
    /* Seção de Testemunhos */
  .testimonials {
      text-align: center;
      padding: 50px 20px;
      background-color: #fff;
    }
    
    .testimonials h1 {
      font-size: 24px;
      margin-bottom: 30px;
      color: #aaa;
    }
    
    .testimonial-cards {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  
    .testimonials h1{
      margin-top: 80px;
      margin-bottom: 40px;
    }
    
    .testimonial {
      max-width: 300px;
      text-align: center;
    }
    
    .testimonial img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-bottom: 15px;
    }
    
    .testimonial p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    .testimonial h3 {
      font-size: 16px;
      margin-top: 60px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .testimonial span {
      font-size: 13px;
      color: #aaa;
    }
    
    /* Galeria de Imagens */
    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
    
    .image {
      height: 200px;
      background-size: cover;
      background-position: center;
    }
    
    /* Rodapé */
    footer {
      text-align: center;
      padding: 40px 20px;
      background-color: #aad7d2;
    }
    
    footer h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #555;
    }
    
    footer nav a {
      margin: 0 10px;
      color: #555;
      text-decoration: none;
    }
  
    .social-icons{
      margin-top: 30px;
    }
    
    footer .social-icons a img {
      width: 24px;
      margin: 0 10px;
    }